@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    background-color: rgb(54, 54, 54);
} 

div#root {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

div:first-child {
    position: relative
}

form {
    background: rgb(226, 226, 226); 
    border: 10px solid rgb(254, 208, 0);
    border-radius: 5px;
    padding: 10px;
    height: 100px;
    box-shadow: inset 2px 2px black,
                inset -2px -2px black,
                inset -2px 2px black,
                inset 2px -2px black;
}

form::after {
    position: absolute;
    bottom: 11px;
    right: 11px;
    content: "For LiveChat©";
    font-weight: 700;
    font-size: 8px;
    background-color: rgb(254, 208, 0);
    border: 1px solid black;
}

form input {
    caret-color: rgb(184, 181, 181);
    width: 280px;
}

form button {
    transition: 0.2s
}

form button:hover {
    color: white;
    background-color: black;
}

form button:active {
    transform: scale(0.9)
}

form a:link {
    text-decoration: none;
}

form a:hover {
    text-decoration: underline;
}
